In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
train=pd.read_csv("train.csv")

In [3]:
train.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0
1,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1
2,70efdf2ec9b086079795c442636b55fb,2018-11-15 00:02:00,71748,259,intermediate,1,0
3,8e296a067a37563370ded05f5a3bf3ec,2018-11-15 00:02:00,69209,244,latest,1,0
4,182be0c5cdcd5072bb1864cdee4d3d6e,2018-11-15 00:02:00,62873,473,latest,0,0

In [4]:
item=pd.read_csv("item_data.csv")

In [5]:
item.head(5)

   item_id  item_price  category_1  category_2  category_3  product_type
0    26880        4602          11          35          20          3040
1    54939        3513          12          57          85          6822
2    40383         825          17           8         279          1619
3     8777        2355          13          58         189          5264
4   113705        1267          17          39         151         10239

In [6]:
view=pd.read_csv("view_log.csv")

In [7]:
view.head(5)

           server_time device_type  session_id  user_id  item_id
0  2018-10-15 08:58:00     android      112333     4557    32970
1  2018-10-15 08:58:00     android      503590    74788     7640
2  2018-10-15 08:58:00     android      573960    23628   128855
3  2018-10-15 08:58:00     android      121691     2430    12774
4  2018-10-15 08:58:00     android      218564    19227    28296

In [8]:
test=pd.read_csv("test.csv")

In [9]:
test.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G
0,a9e7126a585a69a32bc7414e9d0c0ada,2018-12-13 07:44:00,44754,127,latest,1
1,caac14a5bf2ba283db7708bb34855760,2018-12-13 07:45:00,29656,44,latest,0
2,13f10ba306a19ce7bec2f3cae507b698,2018-12-13 07:46:00,25234,296,latest,1
3,39c4b4dc0e9701b55a0a4f072008fb3f,2018-12-13 07:47:00,22988,207,latest,1
4,bf5a572cca75f5fc67f4b14e58b11d70,2018-12-13 07:48:00,35431,242,latest,1

In [10]:
sub=pd.read_csv("sample_submission.csv")

In [11]:
sub.head(5)

                      impression_id  is_click
0  a9e7126a585a69a32bc7414e9d0c0ada         0
1  caac14a5bf2ba283db7708bb34855760         0
2  13f10ba306a19ce7bec2f3cae507b698         0
3  39c4b4dc0e9701b55a0a4f072008fb3f         0
4  bf5a572cca75f5fc67f4b14e58b11d70         0

In [12]:
test.shape

(90675, 6)

In [13]:
sub.shape

(90675, 2)

In [35]:
item.size

796566

In [37]:
view.size

15593110

In [36]:
vi.size

31168400

In [24]:
vi=pd.merge(item,view,how='inner')

In [25]:
vi.head(5)

,item_id,item_price,category_1,category_2,category_3,product_type,server_time,device_type,session_id,user_id
0,26880,4602,11,35,20,3040,2018-10-24 15:22:00,android,884484,24873
1,26880,4602,11,35,20,3040,2018-10-24 15:30:00,android,884484,24873
2,54939,3513,12,57,85,6822,2018-10-19 09:31:00,android,417118,34832
3,54939,3513,12,57,85,6822,2018-10-21 03:08:00,android,408682,59619
4,54939,3513,12,57,85,6822,2018-10-21 13:31:00,android,934901,52345

In [26]:
t1=pd.merge(train,vi,how='inner')

In [27]:
t1.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click,item_id,item_price,category_1,category_2,category_3,product_type,server_time,device_type,session_id
0,c4ca4238a0b923820dcc509a6f75849b,2018-11-15 00:00:00,87862,422,old,0,0,43886,2350,11,35,20,5622,2018-10-19 18:11:00,android,190710
1,621bf66ddb7c962aa0d22ac97d69b793,2018-11-15 00:19:00,87862,422,old,0,0,43886,2350,11,35,20,5622,2018-10-19 18:11:00,android,190710
2,ab394288aed46588bdc90bf4b541ec0d,2018-11-16 17:29:00,87862,422,old,0,0,43886,2350,11,35,20,5622,2018-10-19 18:11:00,android,190710
3,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,109074,6330,10,63,295,9337,2018-12-10 19:48:00,android,135003
4,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,109074,6330,10,63,295,9337,2018-12-10 19:59:00,android,135003

In [28]:
t2=pd.merge(test,vi,how='inner')

In [29]:
t2.head(5)

,impression_id,impression_time,user_id,app_code,os_version,is_4G,item_id,item_price,category_1,category_2,category_3,product_type,server_time,device_type,session_id
0,a9e7126a585a69a32bc7414e9d0c0ada,2018-12-13 07:44:00,44754,127,latest,1,128995,23424,1,42,220,1617,2018-12-11 19:01:00,android,923045
1,30e58abb328b85fd43398973f4daa190,2018-12-14 00:02:00,44754,127,latest,0,128995,23424,1,42,220,1617,2018-12-11 19:01:00,android,923045
2,9d43b6d8bc2e0cf1e0e67c0257f26497,2018-12-12 17:51:00,44754,127,latest,1,128995,23424,1,42,220,1617,2018-12-11 19:01:00,android,923045
3,3a6d8d6593becf63832bfc876768800f,2018-12-12 21:30:00,44754,127,latest,1,128995,23424,1,42,220,1617,2018-12-11 19:01:00,android,923045
4,0bef27d1e4eaac44e404f285dce6000b,2018-12-15 19:25:00,44754,127,latest,1,128995,23424,1,42,220,1617,2018-12-11 19:01:00,android,923045

In [30]:
t2.shape

(3869280, 15)

In [31]:
t1.shape

(11046039, 16)

In [32]:
print(t2.isnull().sum())

impression_id      0
impression_time    0
user_id            0
app_code           0
os_version         0
is_4G              0
item_id            0
item_price         0
category_1         0
category_2         0
category_3         0
product_type       0
server_time        0
device_type        0
session_id         0
dtype: int64

In [34]:
print(t2["item_id"].value_counts())

425       17277
118262    15060
33633     14879
72955     14308
64835     12874
127900    12483
84704     11111
119516    11037
104035    10835
79527     10706
76404      9949
89373      9538
95249      9514
30048      9324
44686      9232
54546      9181
71406      9124
68968      8898
45690      8879
3500       8850
15757      8673
1528       8581
78603      8319
91322      8195
71978      8148
76156      8114
72120      8108
73972      8071
2121       7672
49461      7660
          ...
114001        1
27519         1
65814         1
71957         1
124250        1
11127         1
119052        1
70206         1
72255         1
93514         1
103765        1
61955         1
18748         1
51716         1
86872         1
3430          1
1383          1
2356          1
42355         1
53767         1
64888         1
80725         1
49453         1
51500         1
68435         1
56700         1
47626         1
35108         1
127820        1
73067         1
Name: item_id, Length: 78921, dtype: int64

In [38]:
t2.duplicated(subset=None, keep='first')

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29         False
           ...
3869250    False
3869251     True
3869252    False
3869253    False
3869254     True
3869255    False
3869256    False
3869257    False
3869258    False
3869259    False
3869260    False
3869261    False
3869262    False
3869263    False
3869264    False
3869265    False
3869266    False
3869267    False
3869268    False
3869269    False
3869270    False
3869271    False
3869272    False
3869273    False
3869274    False
3869275    False
3869276    False
3869277    False
3869278    False
3869279    False
Length: 3869280, dtype: bool

In [41]:
t1[t1'[['impression_id']].duplicated() == True]

,impression_id,impression_time,user_id,app_code,os_version,is_4G,is_click,item_id,item_price,category_1,category_2,category_3,product_type,server_time,device_type,session_id
4,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,109074,6330,10,63,295,9337,2018-12-10 19:59:00,android,135003
5,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,71877,3961,10,63,295,2270,2018-10-24 11:14:00,android,15568
6,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,22064,1024,11,76,67,8411,2018-12-10 20:03:00,android,135003
7,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,58018,1888,13,52,163,2734,2018-12-10 19:51:00,android,135003
8,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,43209,3421,4,74,292,577,2018-10-21 06:13:00,android,356854
9,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,43209,3421,4,74,292,577,2018-10-21 17:01:00,android,345289
10,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,43209,3421,4,74,292,577,2018-10-22 09:54:00,android,406658
11,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,43209,3421,4,74,292,577,2018-10-25 05:00:00,android,343558
12,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,43209,3421,4,74,292,577,2018-10-25 05:03:00,android,343558
13,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,97274,2630,10,43,223,3055,2018-11-24 05:29:00,android,983607
14,45c48cce2e2d7fbdea1afc51c7c6ad26,2018-11-15 00:01:00,63410,467,latest,1,1,66370,14166,4,74,292,3399,2018-10-21 06:13:00,android,356854
16,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,109074,6330,10,63,295,9337,2018-12-10 19:59:00,android,135003
17,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,71877,3961,10,63,295,2270,2018-10-24 11:14:00,android,15568
18,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,22064,1024,11,76,67,8411,2018-12-10 20:03:00,android,135003
19,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,58018,1888,13,52,163,2734,2018-12-10 19:51:00,android,135003
20,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-21 06:13:00,android,356854
21,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-21 17:01:00,android,345289
22,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-22 09:54:00,android,406658
23,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-25 05:00:00,android,343558
24,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-25 05:03:00,android,343558
25,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,97274,2630,10,43,223,3055,2018-11-24 05:29:00,android,983607
26,6b18886bc278247582704943f5c66eb9,2018-11-16 16:31:00,63410,467,latest,1,0,66370,14166,4,74,292,3399,2018-10-21 06:13:00,android,356854
28,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,109074,6330,10,63,295,9337,2018-12-10 19:59:00,android,135003
29,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,71877,3961,10,63,295,2270,2018-10-24 11:14:00,android,15568
30,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,22064,1024,11,76,67,8411,2018-12-10 20:03:00,android,135003
31,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,58018,1888,13,52,163,2734,2018-12-10 19:51:00,android,135003
32,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-21 06:13:00,android,356854
33,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-21 17:01:00,android,345289
34,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-22 09:54:00,android,406658
35,cbd7fb1bba4de3486f76147a75f3ec89,2018-11-16 18:14:00,63410,467,latest,1,0,43209,3421,4,74,292,577,2018-10-25 05:00:00,android,343558
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11046008,d5933a70c5da3152b798aa66e3bde144,2018-12-13 07:27:00,43386,386,intermediate,0,0,44570,737,15,0,183,8144,2018-11-19 21:58:00,android,441624
11046009,d5933a70c5da3152b798aa66e3bde144,2018-12-13 07:27:00,43386,386,intermediate,0,0,44570,737,15,0,183,8144,2018-11-21 11:56:00,android,381199
11046011,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,30048,2496,10,43,264,5386,2018-11-05 14:51:00,android,621844
11046012,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,120897,27201,9,3,172,10315,2018-10-27 13:06:00,android,536910
11046013,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-05 11:20:00,android,322391
11046014,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-05 11:20:00,android,322391
11046015,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-05 11:22:00,android,322391
11046016,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-05 15:58:00,android,163552
11046017,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-05 18:30:00,android,798892
11046018,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-05 21:37:00,android,1044755
11046019,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-07 20:00:00,android,859027
11046020,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,22866,1497,1,59,180,7640,2018-11-07 20:00:00,android,859027
11046021,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,102025,8634,10,63,216,7025,2018-11-05 05:36:00,android,73054
11046022,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,25738,761,14,61,132,9497,2018-10-29 22:03:00,android,340104
11046023,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,57465,1152,1,36,203,2270,2018-11-05 15:00:00,android,621844
11046024,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,57465,1152,1,36,203,2270,2018-11-05 15:00:00,android,621844
11046025,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,105840,2165,8,11,250,7584,2018-10-29 22:13:00,android,340104
11046026,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,79527,6336,4,38,62,3928,2018-10-23 18:24:00,android,137046
11046027,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,78731,1920,7,23,192,6579,2018-10-29 22:12:00,android,340104
11046028,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,102647,19094,9,3,172,3197,2018-11-04 07:44:00,android,92878
11046029,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,102647,19094,9,3,172,3197,2018-11-04 13:46:00,android,1086813
11046030,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,102647,19094,9,3,172,3197,2018-11-05 05:38:00,android,73054
11046031,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,102647,19094,9,3,172,3197,2018-11-05 05:44:00,android,73054
11046032,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,87409,15747,17,39,252,656,2018-10-29 22:10:00,android,340104
11046033,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,2121,249,0,45,117,6379,2018-10-24 20:58:00,android,576378
11046034,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,78243,15923,9,3,260,2607,2018-11-05 05:38:00,android,73054
11046035,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,74068,10813,9,44,164,278,2018-10-29 22:11:00,android,340104
11046036,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,37817,14579,8,40,84,5036,2018-10-29 22:18:00,android,340104
11046037,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,94121,2304,13,67,170,4367,2018-11-11 18:31:00,android,425716
11046038,71b3ab4d5d64a2c7626c2db5370037e6,2018-12-13 07:28:00,2699,207,intermediate,0,0,93053,5760,7,24,100,6607,2018-11-05 14:55:00,android,621844

In [45]:
print(t1["app_code"].value_counts())

207    1516916
386    1362893
190     763587
127     485459
129     445794
385     392594
296     384519
371     356905
3       312408
283     258320
469     258241
5       245878
249     239883
244     232091
44      223896
32      219137
145     195041
242     149235
213     134600
202     112252
463     102256
465      98116
163      94709
473      94086
231      84715
359      83442
151      80645
318      72521
508      70918
38       70011
        ...
141          6
91           6
358          6
12           6
238          5
363          5
313          5
73           5
208          4
341          4
270          4
212          4
172          4
479          4
404          4
90           4
52           3
70           3
417          3
476          2
179          2
345          2
34           2
419          2
72           2
429          2
113          2
205          2
149          1
65           1
Name: app_code, Length: 490, dtype: int64